{#
 # Author: Joris Rietveld <jorisrietveld@gmail.com>
 # Created: 16-07-2017 12:58
 # Licence: GPLv3 - General Public Licence version 3
 #}
{% extends "@App/template.html.twig" %}

{% block title %}AppBundle:Home:home{% endblock %}

{% block pageContent %}
	<header class="bg-primary text-white test-header">
		<div class="container text-center">
			<h1 class="title-font">Fasaliteiten</h1>
			<p class="lead">
				<button class="btn btn-info">Toiletten</button>
				<button class="btn btn-primary">Dousen</button>
				<button class="btn btn-info">Wassen</button>
				<button class="btn btn-primary">Koelkasten</button>
				<button class="btn btn-info">Electricitijd</button>
				<button class="btn btn-primary">Water</button>
			</p>
		</div>
	</header>

	<section id="about">
		<div class="container">
			<div class="row">
				<div class="col-lg-8 offset-lg-2">
					<h2>Over kees & Roos</h2>
					<p class="lead">Heel mooi verhaal hieronder lekker kort ook:</p>
					<p>
						16 jaar geleden trok Kees vanuit West Friesland met een klein beetje geld naar Frankrijk en kocht een vervallen boerderijtje in de Bresse, in het Zuid-Oosten van de Bourgogne. (tussen Dyon en Geneve). Sindsdien is Kees er in geslaagd om met weinig middelen en hard werken een camping en een paar appartementen te realiseren. Telkens als er een beetje geld was, kwam er weer wat nieuws.
					</p>
				</div>
			</div>
		</div>
	</section>

	<section id="route" class="bg-faded">
		<div class="container">
			<div class="row">
				<div class="col-lg-8 offset-lg-2">
					<h2>Route:</h2>
					<p class="lead">Ga een paar keer links, rechts en zo hier en daar wat recht door en dan stoppen bij de 83479 ste boom dan ben je er.</p>
				</div>
			</div>
		</div>
	</section>

	<section id="contact">
		<div class="container">
			<div class="row">
				<div class="col-lg-8 offset-lg-2">
					<h2>Contacteer ons vooral niet!</h2>
					<p class="lead">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vero odio fugiat voluptatem dolor, provident officiis, id iusto! Obcaecati incidunt, qui nihil beatae magnam et repudiandae ipsa exercitationem, in, quo totam.</p>
				</div>
			</div>
		</div>
	</section>
{% endblock %}
