{#
 # Author: Joris Rietveld <jorisrietveld@gmail.com>
 # Created: 12-08-2017 11:46
 # Licence: GPLv3 - General Public Licence version 3
 #}
{% extends "@App/design/layout/scroller-layout.html.twig" %}

{% block title %}band{% endblock %}

{% block pageHeaderTitleHolder %}
	<div class="jumbotron">
		<h1 class="">
			band
		</h1>
	</div>
{% endblock %}

{% block pageContent %}
	<h1>band</h1>
{% endblock %}

{% block javascripts %}
	{{ parent() }}
{% endblock %}
