/**
 * Author: Joris Rietveld <jorisrietveld@gmail.com>
 * Created: 16-07-2017 12:11
 * Licence: GPLv3 - General Pulbic Licence version 3
 */

@import "variables";

.title-font{
	font-family: TitleFont sans-serif;
	font-size: 8em;
}

.header-standard {
	background: url(http://wedderheide.nl/highslide/images/large/philip4.JPG) no-repeat center center fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	height: 200vh;
	width: 100vw;
	padding-top: 50px;
}

.header-title {
	background: url(../images/elements/wooden_plank_1.png) no-repeat;
	background-size: 100% 120%;

	display:inline-block;
	padding: 7% 80px 20px;
	/*width: 95vw;
	height: 85vh;*/
	overflow: visible;

	font-family: 'Galindo', cursive bold;
	font-size: 9rem;
	text-align: center;

	& .header-title-container{
		background: url(http://wedderheide.nl/highslide/images/large/philip4.JPG) no-repeat center center fixed;
		-webkit-background-size: cover;
		-moz-background-size: cover;
		-o-background-size: cover;
		background-size: cover;
		color: $darkTransparent;
		-webkit-text-fill-color: $darkTransparent;
		-webkit-background-clip: text;
	}
}

.page-section{
	height: 100vh;
	padding-top: 50px;
}