/**
 * Author: Joris Rietveld <jorisrietveld@gmail.com>
 * Created: 16-07-2017 12:11
 * Licence: GPLv3 - General Pulbic Licence version 3
 */

$ease: cubic-bezier(.47,.01,0,1.01);
$colorText: black;

@import url('https://fonts.googleapis.com/css?family=Erica+One|Galindo|Luckiest+Guy|Modak|Oleo+Script+Swash+Caps:700|Sedgwick+Ave|Sedgwick+Ave+Display|Spicy+Rice');

.title-font{
	font-family: TitleFont sans-serif;
	font-size: 8em;
}

.header-standard {
	background: url(http://wedderheide.nl/highslide/images/large/philip4.JPG) no-repeat center center fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	height: 200vh;
	width: 100vw;
	//background: url(http://wedderheide.nl/highslide/images/large/jurgen44..png) no-repeat center center / cover fixed;
	padding-top: 50px;
	/*@include media-breakpoint-up(lg) {
		padding-top: 30vh;
		padding-right: 0;
		padding-left: 0;
		padding-bottom:32vh;
	}*/
}

.header-title {
	background: url(https://www.trestlewood.com/image/780a/29609/BlogDateBoard.png) no-repeat;
	background-size: 100% 120%;
	//background-attachment: scroll;
	//overflow:hidden;
	display:inline-block;
	padding-top: 225px;
	padding-bottom: 20px;
	padding-left: 80px;
	padding-right: 80px;
	font-weight:bold;
	font-family: 'Galindo', cursive;
	color:transparent;
	font-size: 10em;
	width: 95vw;
	height: 85vh;
	text-align: center;
	overflow: visible;

	& .header-title-container{
		background: url(http://wedderheide.nl/highslide/images/large/philip4.JPG) no-repeat center center fixed;
		-webkit-background-size: cover;
		-moz-background-size: cover;
		-o-background-size: cover;
		background-size: cover;
		-webkit-text-fill-color: rgba(0,0,0,0.8);
		-webkit-background-clip: text;
		&:first-child{
			font-size: 1.2em;
		}
	}

	/*&.header-title-container:nth-child(1) {


	}

	&.header-title-container:nth-child(2) {
		background: url(http://wedderheide.nl/highslide/images/large/philip4.JPG) no-repeat center center fixed;
		-webkit-background-size: cover;
		-moz-background-size: cover;
		-o-background-size: cover;
		background-size: cover;
		-webkit-text-fill-color: rgba(0,0,0,0.8);
		-webkit-background-clip: text;
	}*/

}




/*
.wedderheide-title-background{
	padding: 50px;

}

.wedderheide-title-text{
	color: black;
	background-color: white;
	mix-blend-mode:screen;
	width: 100%; height: 100%;
	font-weight: bolder;
	text-align: center;
	line-height: 300px;
	margin: 0;
}

.wedderheide-title-overlay{
	width: 100%; height: 100%;
	position: absolute;
	top: 0;
}

.wedderheide-title.background {
	background-image: url(../images/elements/wooden_plank_1.png);
}
.wedderheide-title.overlay{
	background-image: url('../images/elements/wooden_plank_1.png');
}
.wedderheide-title.wedderheide-title-text{
	font-size: 165pt;
}
*/


/*!* The big title on the home page. with animations. *!
.wedderheide-title {
	background-image: url(../images/elements/wooden_plank_1.png);
	text-align: center;
	position: absolute;
	mix-blend-mode: darken;
	padding: 30px;
	top: 200px;
	left: 50%;
	//background-color: rgba(255,255,255,0.7);
	&> h1{
		transform: translate3d(calc(-50% - 12px),calc(-50% + 12px),0);
		mix-blend-mode: screen;
		font-family: 'Galindo', cursive;

		font-size: 10em;
		letter-spacing: 0.3em;
		text-transform: uppercase;
		text-shadow: 0 0 $colorText,
		0 0 $colorText,
		0 0 $colorText,
		0 0 $colorText,
		0 0 $colorText,
		0 0 $colorText,
		0 0 $colorText,
		0 0 $colorText,
		0 0 $colorText,
		0 0 $colorText;
		opacity:0;
		animation: revolve 2s $ease forwards 0.5s;

		@keyframes revolve {
			to{
				opacity:0.5;
				transform: translate3d(-50%,-50%,0);
				text-shadow: -2px 1px $colorText,
				-3px 2px $colorText,
				-4px 3px $colorText,
				-5px 4px $colorText,
				-6px 5px $colorText,
				-7px 6px $colorText,
				-8px 7px $colorText,
				-9px 8px $colorText,
				-10px 9px $colorText,
				-11px 10px $colorText,
				-12px 11px $colorText;
			}
		}

		@include media-breakpoint-down(sm) {
			font-size: 4em;
		}
	}


}*/



/*
.wedderheide-title {
	position: absolute;
	margin-top: 15%;
	left: 50%;
	transform: translate3d(calc(-50% - 12px), calc(-50% + 12px), 0);
	mix-blend-mode: screen;

	font-family: 'Montserrat', sans-serif;
	font-size: 8em;
	color: $mainTitleColor;

	letter-spacing: 0.2em;
	text-transform: uppercase;
	text-shadow: 0 0 $secondaryTitleColor,
	0 0 $secondaryTitleColor,
	0 0 $secondaryTitleColor,
	0 0 $mainTitleColor,
	0 0 $secondaryTitleColor,
	0 0 $mainTitleColor,
	0 0 $secondaryTitleColor,
	0 0 $secondaryTitleColor,
	0 0 $secondaryTitleColor,
	0 0 $mainTitleColor,
	0 0 $secondaryTitleColor;
	opacity: 0;
	animation: revolve 2s $ease forwards 0.5s;

	@keyframes revolve {
		to {
			opacity: 1;
			transform: translate3d(-50%, -50%, 0);
			text-shadow: -2px 1px $secondaryTitleColor,
			-3px 2px $mainTitleColor,
			-4px 3px $secondaryTitleColor,
			-5px 4px $secondaryTitleColor,
			-6px 5px $secondaryTitleColor,
			-7px 6px $mainTitleColor,
			-8px 7px $secondaryTitleColor,
			-9px 8px $mainTitleColor,
			-10px 9px $secondaryTitleColor,
			-11px 10px $secondaryTitleColor,
			-12px 11px $secondaryTitleColor;
		}
	}


}
*/

/*
section {
	padding: 100px 0;
}*/
