{#
 # Author: Joris Rietveld <jorisrietveld@gmail.com>
 # Created: 06-08-2017 22:05
 # Licence: GPLv3 - General Public Licence version 3
 #}

{% extends '@App/design/base.html.twig' %}

{# Implement an page layout defined in the base file. #}
{% block layout %}

	{# Embed the scroller-navigation module template into the scroller layout. #}
	{% embed '@App/design/modules/scroller-navigation.html.twig' %}
	{% endembed %}

	{# Embed the scroller-navigation module template into the scroller layout. #}
	{% block header %}
		{% embed '@App/design/modules/scroller-header.html.twig' %}
		{% endembed %}
	{% endblock header %}

	{# The main content of the webpage.#}
	<main id="main-wrapper" class="container">
		{% block pageContent %}{% endblock %}
	</main>

	<!-- Modal -->
	<div class="modal fade" id="exampleModalLong" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
		<div class="modal-dialog" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title" id="exampleModalLongTitle">Modal title</h5>
					<button type="button" class="close" data-dismiss="modal" aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
				</div>
				<div class="modal-body">
					...
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
					<button type="button" class="btn btn-primary">Save changes</button>
				</div>
			</div>
		</div>
	</div>

	{# The footer of the webpage. #}
	<footer class="py-5 bg-inverse">
		<div class="container">
			{% block pageFooter %}
				<p class="m-0 text-center text-white">Copyright &copy; Joris Rietveld 2017</p>
			{% endblock pageFooter %}
		</div>
	</footer>

{% endblock layout %}