{#
 # Author: Joris Rietveld <jorisrietveld@gmail.com>
 # Created: 06-08-2017 22:45
 # Licence: GPLv3 - General Public Licence version 3
 #}

{# This array contains the information needed to render the menu links in the top menu #}
{% set menuItemData = {
	default: { displayText: "navigation.home.title", isMainItem: 1 },
	about: { displayText: "navigation.home.submenu.about", isMainItem: 0 },
	route: { displayText: "navigation.home.submenu.route", isMainItem: 0 },
	contact: { displayText: "navigation.home.submenu.contact", isMainItem: 0 },
	editions: { displayText: "navigation.editions.title", isMainItem: 1 },
	bands: { displayText: "navigation.bands.title", isMainItem: 1 },
} %}

<nav id="mainNav" class="navbar fixed-top navbar-toggleable-md navbar-inverse bg-inverse">

	{# Button for expanding the menu on small devices #}
	<button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse"
	        data-target="#navbarExample" aria-controls="navbarExample" aria-expanded="false"
	        aria-label="Toggle navigation">
		<span class="navbar-toggler-icon"></span>
	</button>

	{# The items rendered in the menu #}
	<div class="container">
		<div class="collapse navbar-collapse" id="navbarExample">
			<ul class="navbar-nav mr-auto">
				{% import '@App/macros/generators.html.twig' as generate %}
				{# Render the menu items based on the data at the top of the page. #}
				{{ generate.menuItems( menuItemData ) }}
			</ul>

			<div class="navbar-nav">
				{# Render the localization switch links based on the current route and the configured localizations in app/config.yml. #}
				{{ generate.localizationButtons( _context ) }}
				<a class="btn m-1 btn-info" href="{{ path('login') }}">{{ 'navigation.autentication.login.button'|trans }}</a>
			</div>
		</div>
	</div>
</nav>