{#
 # Author: Joris Rietveld <jorisrietveld@gmail.com>
 # Created: 12-08-2017 17:49
 # Licence: GPLv3 - General Public Licence version 3
 #}
{% block autehnticationModel %}
<div class="modal fade bd-example-modal-lg" tabindex="-1" role="dialog" id="authenticationModel" aria-labelledby="authenticationModel" aria-hidden="true">
	<div class="modal-dialog modal-lg">
		<div class="modal-content">
			<div class="modal-header">
				<ul class="nav nav-tabs" role="tablist">
					<li class="nav-item">
						<a class="nav-link active" data-toggle="loginPane" href="#authentication/login" role="tab">
							{{ 'navigation.autentication.login.button'|trans }}
						</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" data-toggle="registerPane" href="#authentication/register" role="tab">
							{{ 'navigation.autentication.register.button'|trans }}
						</a>
					</li>
				</ul>
			</div>
			<div class="modal-body">
				<div class="tab-content">
					<div class="tab-pane active" id="home" role="tabpanel">

					</div>
					<div class="tab-pane" id="profile" role="tabpanel">
						
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
{% endblock autehnticationModel %}