{#
 # Author: Joris Rietveld <jorisrietveld@gmail.com>
 # Created: 10-08-2017 14:18
 # Licence: GPLv3 - General Public Licence version 3
 #}
<li>
	<a class="nav-link {{  addClass|default('') }}" href="{{ path( pathName, slugs|default([]) ) }}">{{ linkTranslationKey|trans }}</a>
</li>
