{#
 # Author: Joris Rietveld <jorisrietveld@gmail.com>
 # Created: 12-08-2017 15:47
 # Licence: GPLv3 - General Public Licence version 3
 #}
<li class="nav-item btn-group">
	<a class="dropdown-toggle nav-link" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
		Dropdown
	</a>
	<div class="dropdown-menu" aria-labelledby="dropdownMenu1">
		{% for dropdownLink %}
		<a class="dropdown-item" href="#">Action</a>
		<a class="dropdown-item" href="#">Another action</a>
		<a class="dropdown-item" href="#">Something else here</a>
	</div>
</li>